@font-face {
    font-family: pictochat;
    src: url('../fonts/nintendo_ext_003.ttf'),
        url('../fonts/pictochat.ttf');
    font-weight: normal;
    font-style: normal;
}

.canvases {
    position: relative;
    display: block;
}

.canvas-bg {
    position: absolute;
}

.canvas {
    position: absolute;
}

html {
    background-color: pink;
}