@font-face {
    font-family: pictochat;
    src: url('../fonts/nintendo_ext_003.ttf');
    src: url('../fonts/pictochat.ttf');
    font-weight: normal;
    font-style: normal;
}

canvas {
    display: block;
    position: relative;
    height: 30vh;
    width: 50vw;
}

.canvases {
    position: relative;
}

.canvas-bg {
    position: absolute;
    display: block;
}

.canvas-text {
    position: absolute;
    display: block;
}

.canvas {
    position: absolute;
    display: block;
}

.chat-messages {
    height: 50vh;
    overflow: auto;
    background: repeating-linear-gradient(
        #aaaaaa,
        #aaaaaa 10px,
        #bababa 10px,
        #bababa 12px);
}

.spacer{
    height: 40vh;
}

.clone-canvas {
    margin: 2rem auto 1rem;
}

.pictochat-load-img {
    width: 51vw;
    height: 10vh;
    position: relative;
}