:root {
  --active-color: white;
  --lighter-color: white;
}

.bottom-screen{
    position: relative;
    display: grid;
    grid-template-rows: 12% 1fr 12%;
    background-image: 
    repeating-linear-gradient(
      90deg,
      #c4c4cc,
      #c4c4cc 3px,
      rgba(0,0,0,0) 3px,
      rgba(0,0,0,0) 45px
    ),
    repeating-linear-gradient(
      0deg,
      #c4c4cc,
      #c4c4cc 3px,
      #f8f9fb 3px,
      #f8f9fb 6px,
      #dfe2e6 6px,
      #dfe2e6 9px,
      #f8f9fb 9px,
      #f8f9fb 12px,
      #dfe2e6 12px,
      #dfe2e6 15px,
      #f8f9fb 15px,
      #f8f9fb 18px,
      #dfe2e6 18px,
      #dfe2e6 21px,
      #f8f9fb 21px,
      #f8f9fb 24px,
      #dfe2e6 24px,
      #dfe2e6 27px,
      #f8f9fb 27px,
      #f8f9fb 30px,
      #dfe2e6 30px,
      #dfe2e6 33px,
      #f8f9fb 33px,
      #f8f9fb 36px,
      #dfe2e6 36px,
      #dfe2e6 39px,
      #f8f9fb 39px,
      #f8f9fb 42px,
      #dfe2e6 42px,
      #dfe2e6 45px,
      #f8f9fb 45px,
      #f8f9fb 48px
    );
}

.top-screen {
    position: relative;
    background-image: 
    repeating-linear-gradient(
      90deg,
      #c4c4cc,
      #c4c4cc 3px,
      rgba(0,0,0,0) 3px,
      rgba(0,0,0,0) 45px
    ),
    repeating-linear-gradient(
      0deg,
      #c4c4cc,
      #c4c4cc 3px,
      #f8f9fb 3px,
      #f8f9fb 6px,
      #dfe2e6 6px,
      #dfe2e6 9px,
      #f8f9fb 9px,
      #f8f9fb 12px,
      #dfe2e6 12px,
      #dfe2e6 15px,
      #f8f9fb 15px,
      #f8f9fb 18px,
      #dfe2e6 18px,
      #dfe2e6 21px,
      #f8f9fb 21px,
      #f8f9fb 24px,
      #dfe2e6 24px,
      #dfe2e6 27px,
      #f8f9fb 27px,
      #f8f9fb 30px,
      #dfe2e6 30px,
      #dfe2e6 33px,
      #f8f9fb 33px,
      #f8f9fb 36px,
      #dfe2e6 36px,
      #dfe2e6 39px,
      #f8f9fb 39px,
      #f8f9fb 42px,
      #dfe2e6 42px,
      #dfe2e6 45px,
      #f8f9fb 45px,
      #f8f9fb 48px
    );
}

.top-screen img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-bar{
  border-bottom: 2px solid black;
  background-color: var(--lighter-color);
  width: 100%;
}

.bottom-bar{
  border-top: 2px solid black;
  background-color: var(--lighter-color);
  width: 100%;
}

.inner-color-display{
  display: grid;
  grid-template-columns: 50% 15% 30%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.color-palette {
  border: solid 5px #c4c4cc;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gray {
  background-color: #61819a;
  background-clip: content-box;
}

.brown {
  background-color: #bb4900;
}

.red {
  background-color: #fb0118;
}

.pink {
  background-color: #fa8afb;
}

.orange {
  background-color: #fb9200;
}

.yellow {
  background-color: #f3e400;
}

.lime {
  background-color: #aafb00;
}

.green {
  background-color: #02fb02;
}

.forest {
  background-color: #03a139;
}

.teal {
  background-color: #4adb8a;
}

.cyan {
  background-color: #32baf3;
}

.blue {
  background-color: #005af3;
}

.azure {
  background-color: #000092;
}

.purple {
  background-color: #8a01d4;
}

.lilac {
  background-color: #d300eb;
}

.fuchsia {
  background-color: #fb0092;
}

.active-color {
  position: relative;
}
.active-color:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 3px dashed;
  border-color: var(--active-color);
}

.color {
  position: relative;
}
.color:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 18px solid white;
}

.choose-color {
  font-size: 4vh;
  background: linear-gradient(#c4c4cc, white);
  padding: 1rem;
  border: solid 4px #c4c4cc;
}

.curr-color {
  width: 100%;
  height: 50%;
  grid-column: 3 / 4;
  padding-top: 18%;
}

.active-color-display {
  height: 100%;
  background-color: var(--active-color);
  border-left: solid 4px #c4c4cc;
  border-right: solid 4px #c4c4cc;
  border-bottom: solid 4px #c4c4cc;
}

.bottom-bar button {
  font-family: pictochat;
  font-size: 3vh;
  padding: 0.5rem 1rem;
  margin-top: 0.75%;
}