@font-face {
    font-family: 'pictochat';
    src: url('../fonts/nintendo_ext_003.ttf');
    src: url('../fonts/pictochat.ttf');
}

html {
    margin: 0;
}

body {
    background-color: #333;
    font-family: 'pictochat';
    text-align: center;
    margin: 0;
}

h1 {
    color: #eee;
    font-size: 3rem;
}

.ds-body {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
}

.dots-left {
    grid-column: 1 / 2;
}

.dots-right {
    grid-column: 3 / 4;
}

.dots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.dot1, .dot4{
    grid-column: 4 / 5;
}

.dot2, .dot5{
    grid-column: 5 / 6;
}

.dot3, .dot6 {
    grid-column: 6 / 7;
}

.dot1, .dot2, .dot3 {
    grid-row: 5 / 6;
}

.dot4, .dot5, .dot6 {
    grid-row: 6 / 7;
}

.hor-line{
    width: 100vw;
    height: 2px;
    background-color: black;
    display: block;
}

.right-lines {
    float: left;
}
.vert-line{
    width: 2px;
    height: 8vh;
    background-color: black;
    float: left;
    margin-right: 70%;
}

.power-line {
    width: 10px;
    height: 5vh;
    background-color: greenyellow;
    float: left;
    position: relative;
    top: 1.5vh;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

.top-screen {
    grid-column: 2 / 3;
    border: solid 20px #222;
    margin-bottom: 3rem;
    background-color: white;
    height: 50vh;
}

.bottom-left{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    grid-template-rows: 1fr 120px 1fr 1fr;
}

.left-controls{
    grid-row: 2 / 3;
    grid-column: 2 /3;
    position: relative;
    align-items: center;
}

.left-controls::before {
    content: '';
    display: inline-block;
    background-color: #111;
    width: 40px;
    height: 120px;
    position: absolute;
    left: calc(50% - 20px);
    border-radius: 0.25rem;
}


.left-controls::after {
    content: '';
    display: inline-block;
    background-color: #111;
    width: 120px;
    height: 40px;
    position: absolute;
    left: 0;
    top: calc(50% - 20px);
    border-radius: 0.25rem;
}

.left-controls-inner{
    grid-row: 2 / 3;
    grid-column: 2 /3;
    position: relative;
    align-items: center;
}

.left-controls-inner::before {
    content: '';
    display: inline-block;
    background-color: white;
    width: 4px;
    height: 90px;
    position: absolute;
    left: calc(50% - 2px);
    top: calc(50% - 45px);
}

  
.left-controls-inner::after {
    content: '';
    display: inline-block;
    background-color: white;
    width: 90px;
    height: 4px;
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% - 2px);
}

.left-controls-inner-inner{
    grid-row: 2 / 3;
    grid-column: 2 /3;
    position: relative;
    align-items: center;
}

.left-controls-inner-inner::before {
    content: '';
    display: inline-block;
    background-color: #111;
    width: 5px;
    height: 40px;
    position: absolute;
    left: calc(50% - 2.5px);
    top: calc(50% - 20px);
}

.left-controls-inner-inner::after {
    content: '';
    display: inline-block;
    background-color: #111;
    width: 40px;
    height: 5px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 2.5px);
}

.bottom-screen {
    height: 50vh;
    margin-top: 3rem;
    grid-column: 2 / 3;
    border: solid 20px #222;
    margin-bottom: 3rem;

}

.right-controls {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 60% 40%;
    margin-bottom: 3rem;
}

.abxy-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.right-btn {
    background-color: #111;
    border-radius: 50%;
    text-align: center;
    padding: 15px 20px
}

.x-btn {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.y-btn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.a-btn {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.b-btn {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.start-select-buttons {
    margin-top: 20%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
}

.right-small-btn {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #111;
}


.select-btn, .start-btn {
    display: grid;
    grid-template-columns: 15px 1fr;
    position: relative;
}

.start-btn .right-small-btn {
    position: absolute;
    top: 50%;
}
.start-btn p {
    position: absolute;
    top: 24%;
}

.start-select-buttons p {
    grid-column: 2 / 3;
    position: absolute;
    left: 10px;
}

.select-btn .right-small-btn {
    grid-column: 1 / 2;
    position: absolute;
    top: 25%;
}